# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CodeWarrior files
bin/
Standard/
*.stg
prm/
*.hwl
*.mem
*.ini
*.mcp
*.cmd

# Other CodeWarrior Source files
# datapage.c
# Start12.c
